
.headerSortDown:after,
.headerSortUp:after {
  padding-left: .3em;
  content: "\2191\2193";
  opacity: .3;
}

.headerSortDown:after {
  padding-left: .3em;
  content: "\2193"; 
}

.headerSortUp:after {
  padding-left: .3em;
  content: "\2191";
}

.headerSortDown,
.headerSortUp {
  background-image: none;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}